#mainBackgroundSpace {
    position: relative;
    width: 100%;
    height: 1080px;
}

#mainBackground {
    position: relative;
    background-image: url("../images/header/mainPageBackground.png");
}

@media (min-width: 1101px) {
    #mainIntroduce {
        font-size: 50px;
    }
}

@media (max-width: 1100px) {
    #mainIntroduce {
        font-size: 40px;
    }
}

@media (min-width: 1000px) {
    #weatherBox0 {
        display: flex;
    }
    #weatherBox1 {
        display: none;
    }
}

@media (max-width: 1000px) {
    #weatherBox0 {
        display: none;
    }
    #weatherBox1 {
        display: flex;
    }
}


@media (min-width: 715px) {
    #weatherBox2 {
        display: none;
    }
}

@media (max-width: 715px) {
    #weatherBox1 {
        display: none;
    }
    #weatherBox2 {
        display: flex;
    }
}


@media (max-width: 900px) {
    #mainIntroduce {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    #mainIntroduce {
        font-size: 25px;
    }
}

#mainIntroduce {
    position: relative;
    text-align: center;
    top: 190px;
    font-weight: bold;
    color: #fff;
    z-index: -1;
}

#weatherBox0 {
    position: relative;
    margin: 0 auto;
    width: 917px;
    height: 178px;
    top: 390px;
    border-radius: 89px;
    background-color: rgba(0, 126, 255, 0.15);
    align-items: center;
}
#weatherBox0 .weatherRate0 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 100px;
}

#weatherBox0 .weatherGood0 {
    font-size: 40px;
    font-weight: bold;
    margin-left: 60px;
}

#weatherBox0 .weatherTemp0 {
    font-size: 25px;
    font-weight: 300;
    margin-left: 100px;
}

#weatherBox0 .weatherDog0 {
    background-image: url("../images/weather/weatherDog.png");
    position: absolute;
    left: 757px;
    top: -187px;
    width: 151px;
    height: 219px;

}

#weatherBox1 {
    position: relative;
    margin: 0 auto;
    width: 688px;
    height: 134px;
    top: 410px;
    border-radius: 67px;
    background-color: rgba(0, 126, 255, 0.15);
    align-items: center;
}
#weatherBox1 .weatherRate1 {
    font-size: 23px;
    font-weight: bold;
    margin-left: 75px;
}

#weatherBox1 .weatherGood1 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 45px;
}

#weatherBox1 .weatherTemp1 {
    font-size: 19px;
    font-weight: 300;
    margin-left: 75px;
}

#weatherBox1 .weatherDog1 {
    background-image: url("../images/weather/weatherDog.png");
    position: absolute;
    left: 570px;
    top: -140px;
    width: 113px;
    height: 164px;
    background-size: contain;
}

#weatherBox1 .weatherSelectButton1 {
    background-image: url("../images/weather/weatherSelectButton.png");
    position: relative;
    margin-left: 62px;
    width: 23px;
    height: 23px;
    background-color: transparent;
    background-size: contain;
}

/* #weatherBox2 */

#weatherBox2 {
    position: relative;
    margin: 0 auto;
    width: 458px;
    height: 89px;
    top: 420px;
    border-radius: 45px;
    background-color: rgba(0, 126, 255, 0.15);
    align-items: center;
}
#weatherBox2 .weatherRate2 {
    font-size: 15px;
    font-weight: bold;
    margin-left: 50px;
}

#weatherBox2 .weatherGood2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}

#weatherBox2 .weatherTemp2 {
    font-size: 12px;
    font-weight: 300;
    margin-left: 50px;
}

#weatherBox2 .weatherDog2 {
    background-image: url("../images/weather/weatherDog.png");
    position: absolute;
    top:-95px;
    left: 380px;
    width: 75px;
    height: 109px;
    background-size: contain;
}

#weatherBox2 .weatherSelectButton2 {
    background-image: url("../images/weather/weatherSelectButton.png");
    position: relative;
    margin-left: 41px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-size: contain;
}


#mainInform {
    position: relative;
    width: 100%;
    height: 143px;
    z-index: 0;
}

#mainInform .informLeft {
    position: absolute;
    width: 25.9%;
    height: 143px;
    background-color: #639DD7;
}
#mainInform .informRight {
    position: absolute;
    left: 25.9%;
    width: 74.1%;
    height: 143px;
    background-color: #A6CEF7;
}


/*!* 기타 내용들*/
/*1920-1686 = 234*/
/*234+174 = 408*/
/*578-475 = 103*/
/*1080-1005 = 75*/

@media (max-width: 1587px) {
    #mainMapContentOne {
        display: none;
    }
    #mainMapContentTwo {
        display: block;
    }
}

@media (min-width: 1588px) {
    #mainMapContentOne {
        display: block;
    }
    #mainMapContentTwo {
        display: none;
    }
}

#mainMap {
    position: relative;
    width: 100%;
    height: 1080px;
    background-color: #fff;
}

.mainTourLine {
    position: relative;
    width: 166px;
    height: 403px;
    border-right: 1px solid #515151;
}


.mainMapFlag {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 136px;
    width: 60px;
    height: 60px;
    background-image: url("../images/mainPage/mainMapFlag.png");
}

.TourWithYou {
    display: inline-block;
    position: relative;
    font-size: 64px;
    font-weight: bold;
    color: #5176AF;
    width: 1000px;
    top: -5px;
    left: 150px;
    height: 60px;
}

.mainMapDesc {
    position: relative;
    font-size: 40px;
    font-weight: 100;
    color: #000;
    width: 1000px;
    left: 136px;
    height: 60px;
}

.daalgaeLogo {
    position: relative;
    background-image: url("../images/mainPage/DAALGAE_LOGO.png");
    width: 1148px;
    height: 182px;
    left: 0px;
    left: 0px;
    top: 300px;
    float: right;
}

.mainMapKorea {
    position: absolute;
    float: right;
    top: 40px;
    right: 300px;
    width: 546px;
    height: 866px;
    background-image: url("../images/mainPage/mainMapKorean.png");
    z-index: 3;
}

.MapContentTwoBox {
    display: block;
    top: 40px;
    left: 50%;
    transform: translateX(-250px);
    position: relative;
}

.mainMapFlag2 {
    display: inline-block;
    position: relative;
    top: -4px;
    left: -4px;
    width: 45px;
    height: 45px;
    background-image: url("../images/mainPage/mainMapFlag.png");
}

.TourWithYou2 {
    display: inline-block;
    position: relative;
    font-size: 48px;
    font-weight: bold;
    color: #5176AF;
    top: -5px;
    height: 60px;
}

.mainMapDesc2 {
    display: block;
    position: relative;
    font-size: 30px;
    font-weight: 100;
    width: 500px;
    color: #000;
    height: 60px;
}

.mainMapKorea2 {
    position: relative;
    top: 60px;
    margin: auto;
    width: 546px;
    height: 866px;
    background-image: url("../images/mainPage/mainMapKorean.png");
}
.daalgaeLogo2 {
    position: relative;
    top: 750px;
    margin: auto;
    background-image: url("../images/mainPage/DAALGAE_LOGO.png");
    width: 861px;
    height: 136.5px;
    background-size: contain;
}
/* top 집어넣을 때 스크롤 할 때 에니메이션도 고려해보자 댕댕여지도 참고 */
#mainInfo {
    /* border는 구분선 용도*/
    border-top: 1px solid;
    position: relative;
    width: 100%;
    height: 745px;
}

.infoBookImage {
    position: relative;
    display: inline-block;
    background-image: url("../images/mainPage/mainInfoBook.png");
    width: 58px;
    height: 58px;
}

.infoText {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 64px;
    top: -6px;
    left: 15px;
    display: inline-block;
}

.infoDesc {
    position: relative;
    font-weight: 300;
    color: #222;
    font-size: 22px;
    top: -15px;
}

.infoHeader {
    position: relative;
    left: 120px;
    /*left: 191px; 였지만 마음에 안 듬*/
    top: 68px;
}

.infoImage1 {
    position: relative;
    display: inline-block;
    left: 110px;
    top: 115px;
    width: 309px;
    height: 288px;
    background-image: url("../images/mainPage/mainInfoImage1.png");
}

.infoImage2 {
    position: relative;
    display: inline-block;
    width: 309px;
    height: 288px;
    background-image: url("../images/mainPage/mainInfoImage2.png");
}