    #webtoonBg {
        background-color: #a6cef7;
        border: 1px solid #dbdbdbdb;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 100%;
        height: 500px;
        color: #ffffff;
        font-weight: bold;
        font-size: 50pt;
            position: relative;
    }
    .mainImg {
            content: "";
            position: absolute;
            bottom: 0;
            right: 10%;
            width: 250px;
            height: 250px;
            background-size: contain;
    }

    #webtoonBox-1 {
            font-size: 30pt;
            color: #222222;
    }


.webtoonP-1 {
        font-size: 30px;
        color: #ffba68;
        width: auto;
}

#webtoonBox-2 {
        width: 1390px;
        height: 460px;
        border: 2px solid #dbdbdbdb;
        text-align: center;
        display: flex;
        align-items: center;
}

#line1 {
        border: 2px solid #78787878;
}

.example-1 {
        width: 350px;
        height: 340px;
        max-width: 100%;
        margin-left: 50px;
}

.wtBoxInside-Date {
        font-size: 30px;
        color: #b1b1b1;
        left: 50px;
        display: inline-block;
        position: relative;
        bottom: 100px;
}
.wtBoxInsideText-1 {
        font-size: 35px;
        color: #222222;
        left: 50px;

}